@page "/"
@using LeafletForBlazor

<PageTitle>Home</PageTitle>

<div class="text-xl">Find a petrol station</div>
<div class="mt-5">
    
</div>



<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <RealTimeMap Parameters="parameters" height="460px" width="620px"></RealTimeMap>
</div>

@* <p>@result</p> *@


@code{
    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()  //general map settings
    {
        location = new RealTimeMap.Location()
        {
            latitude = 51.87146900163339,      
            longitude = 4.786296998803098,
        },
        zoomLevel = 18
    };
}